.addBeerPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.addBeerForm {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid rgb(167, 152, 99);
  border-radius: 12px;

  & button {
    border-radius: 12px;
    width: 110px;
    margin-left: 44px;
    margin-bottom: 5px;
  }
}

.addBeerInput {
  padding: 10px;
  margin: 5px;
  border: 1px solid rgb(132, 129, 129);
  border-radius: 12px;
  background-color: rgb(243, 218, 159);
}

.addBeerInput::placeholder {
  color: rgb(27, 77, 100);
}
