.input {
  padding: 10px;
  margin: 5px;
  border: 1px solid rgb(104, 103, 103);
  border-radius: 12px;
  background-color: rgb(243, 218, 159);
}

.info {
  padding: 10px;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 10px 8px 5px rgb(79, 109, 144);
  width: 500px;
  background-color: rgb(128, 176, 230);
}
